/* CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */
body {
	font-size: 16px;
	max-width: 1000px;
	font-family: Helvetica;
	height: 100%;
	color: black;
	margin: auto;
/*	background-image: url("../img/balloons_large2.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment:fixed;*/
	background-image: url("../img/pw_maze_white.png");
	background-repeat: repeat;
}

html{
	height: 100%;
}

.container{
	padding-bottom: 30px;
	margin: auto;
	text-align: center;
}

footer{
	padding: 20px;
}

/* Header */
header{
	padding-top: 20px;
}

li{
	display: inline;
}

/* Headings */

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h1{
	font-size: 40px;
	padding: 10px;
	color: black;
	font-family: 'Oswald';
}

h2{
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 1000;
}

h3{
	font-size: 14px;
}

h4{
	color: gray;
}

/* Right: Venue Info */

#venue-info{
	display: inline;
	float: left;
	margin-left: 20px;
	margin-right: -20px;
}

#address{
	background-color: white;
	padding: 8px;
	margin: 0;
	margin-right: -5px;
	width: 250px;
	font-size: 16px;
}

#geocode-click{
	background-color: gray;
	border: 1px solid silver;
	margin-right: -18px;
	height: 40px;
	width: 50px;
	position: relative;
	top: 4px;
}
.search-icon{
	width: 15px;
	padding: 3px;
}

#venueName{
	height: 400px;
	width: 300px;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 8px;
	background: white;
	opacity: 0.8;
	margin-bottom: 40px;
}

/* Left: Map; */

#map-canvas{
    height: 456px;
    width: 640px;
    margin-left: 20px;
    margin-top: 4px;
	display: inline;
    float: left;
}


/* Footer */

footer{
	display: block;
	clear: both;
	padding: 40px;
}
